@font-face {
  font-family: 'San Francisco Pro Display';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/SFProDisplay-Regular.woff") format("woff"), 
}

@font-face {
  font-family: 'San Francisco Pro Display';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/SFProDisplay-Bold.eot");
  src: url("../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/SFProDisplay-Bold.woff") format("woff"), 
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/roboto-v20-cyrillic_latin-regular.eot");

  src: local("Roboto"), local("Roboto-Regular"), 
  url("../fonts/roboto-v20-cyrillic_latin-regular.woff2") format("woff2"), 
  url("../fonts/roboto-v20-cyrillic_latin-regular.woff") format("woff")
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/roboto-v20-cyrillic_latin-700.eot");

  src: local("Roboto Bold"), local("Roboto-Bold"), 
  url("../fonts/roboto-v20-cyrillic_latin-700.woff2") format("woff2"), 
  url("../fonts/roboto-v20-cyrillic_latin-700.woff") format("woff")
}